* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geologica", serif;
  font-weight: normal;
  font-style: normal;
}

main {
  max-inline-size: 1280px;
  inline-size: 90vw;
  margin-inline: auto;
  padding-block-start: 160px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media screen and (width < 768px) {
    grid-template-columns: auto;
  }
}

.hero div h3 {
  font-size: 1.75rem;
  max-inline-size: 550px;
}

.about-us {
  margin-block: 180px;
}

.spacer {
  block-size: 93px;
}

.numbers {
  margin-block: 180px;
}

.numbers .all-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.numbers .number-card h1 {
  font-size: clamp(1.875rem, 1.4088rem + 1.989vw, 3rem);
}

.numbers .number-card p {
  font-size: 1rem;
}
