main {
  max-inline-size: 1280px;
  inline-size: 90vw;
  margin-inline: auto;
  padding-block-start: 220px;
}

main section .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 80px;
}

main section h1 {
  text-align: center;
  margin-block-end: 40px;
}

main section img {
  inline-size: 100%;
  max-inline-size: 600px;
  height: 100%;
  object-fit: contain;
  image-rendering: optimizeSpeed;
}

:target {
  border: 2px solid #2c2c2d;
  border-radius: 10px;
}
