* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geologica", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

main {
    max-inline-size: 1280px;
    inline-size: 90vw;
    margin-inline: auto;
    padding-block-start: 220px;
}

.container {
    text-align: center;
}

.md-sys-filled-button {
    padding: 10px 40px;
}

.md-sys-outline-button {
    padding: 10px 30px;
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}