@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --md-ref-typeface-brand: 'Geologica';
    --md-ref-typeface-plain: system-ui;
}

body {
    font-family: "Geologica", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

main {
    max-inline-size: 1280px;
    inline-size: 90vw;
    margin-inline: auto;
    padding-block-start: 160px;
}

.container {
    text-align: center;
}

.md-sys-filled-button {
    padding: 10px 40px;
}

.md-sys-outline-button {
    padding: 10px 30px;
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a-scene {
    transition: all 2s ease;
    filter: grayscale(1) contrast(2) brightness(2);

}

a-scene.color {
    filter: grayscale(0) contrast(1) brightness(1);

}

a-scene.hide {}


a-scene {
    inline-size: 800px;
    block-size: 800px;
    pointer-events: none;
    position: fixed;
}

.model-container{
display: flex;
position: relative;
justify-content: center;
}

@media screen and (width < 768px) {
    a-scene {
        inline-size: 350px;
        block-size: 350px;
        pointer-events: none;
        position: fixed;
    }
}

.model-container::after{
    position: absolute;
    content: "";
    background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  );
    inline-size: 100dvw;
    block-size: 100px;
    background-size: cover;
    margin-block-start: 30vh;
    z-index: -1;
}

#landing{
    min-block-size: 100dvh;
}
