main {
  max-inline-size: 1280px;
  inline-size: 90vw;
  margin-inline: auto;
  padding-block-start: 160px;
}

main h1 {
  text-align: center;
  margin-block-end: 200px;
}

.spacer {
  block-size: 93px;
  @media screen and (width < 768px) {
    block-size: 70px;
  }
}

.service-two {
  margin-block: 170px;
}

.service-four {
  margin-block: 170px;
}

.service-five {
  margin-block: 170px;
}

.service-six {
  margin-block: 170px;
}

.service-seven {
  margin-block: 170px;
}

:target {
  border: 2px solid #2c2c2d;
  border-radius: 10px;
  scroll-margin-block-start: 100px;
  animation: fade 3s ease forwards;
}

@keyframes fade {
  0% {
    border: 2px solid #2c2c2d;
  }

  90% {
    border: 2px solid #2c2c2d;
  }

  100% {
    border: 2px solid transparent;
  }
}
