* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geologica", serif;
  font-weight: normal;
  font-style: normal;
}

navbar-component {
  position: fixed;
  z-index: 3;
}

@media screen and (width < 768px) {
  section {
    text-align: center;
  }
  main.careers section ul li {
    text-align: start !important;
  }
}
