* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geologica", serif;
  font-weight: normal;
  font-style: normal;
}

navbar-component {
  position: fixed;
  z-index: 3;
}

.contact-link {
  text-align: center;
}

.contact-link p {
  font-size: 24px;
}

.contact-link p span {
  position: relative;
}

.contact-link p span::after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='51' height='8' viewBox='0 0 51 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='7.45361' width='7.45385' height='51' rx='3' transform='rotate(-90 0 7.45361)' fill='white'/%3E%3Crect x='0.925781' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 0.925781 7.36328)' fill='black'/%3E%3Crect x='2.88721' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 2.88721 7.36328)' fill='black'/%3E%3Crect x='4.84863' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 4.84863 7.36328)' fill='black'/%3E%3Crect x='6.81006' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 6.81006 7.36328)' fill='black'/%3E%3Crect x='8.77197' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 8.77197 7.36328)' fill='black'/%3E%3Crect x='10.7334' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 10.7334 7.36328)' fill='black'/%3E%3Crect x='12.6948' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 12.6948 7.36328)' fill='black'/%3E%3Crect x='14.6562' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 14.6562 7.36328)' fill='black'/%3E%3Crect x='16.6177' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 16.6177 7.36328)' fill='black'/%3E%3Crect x='18.5796' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 18.5796 7.36328)' fill='black'/%3E%3Crect x='20.541' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 20.541 7.36328)' fill='black'/%3E%3Crect x='22.5024' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 22.5024 7.36328)' fill='black'/%3E%3Crect x='24.4639' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 24.4639 7.36328)' fill='black'/%3E%3Crect x='26.4258' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 26.4258 7.36328)' fill='black'/%3E%3Crect x='28.3872' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 28.3872 7.36328)' fill='black'/%3E%3Crect x='30.3486' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 30.3486 7.36328)' fill='black'/%3E%3Crect x='32.3101' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 32.3101 7.36328)' fill='black'/%3E%3Crect x='34.272' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 34.272 7.36328)' fill='black'/%3E%3Crect x='36.2334' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 36.2334 7.36328)' fill='black'/%3E%3Crect x='38.1948' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 38.1948 7.36328)' fill='black'/%3E%3Crect x='40.1562' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 40.1562 7.36328)' fill='black'/%3E%3Crect x='42.1177' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 42.1177 7.36328)' fill='black'/%3E%3Crect x='44.0796' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 44.0796 7.36328)' fill='black'/%3E%3Crect x='46.041' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 46.041 7.36328)' fill='black'/%3E%3Crect x='48.0024' y='7.36328' width='0.392308' height='7.45385' transform='rotate(-164 48.0024 7.36328)' fill='black'/%3E%3C/svg%3E%0A");
  inset-inline-end: 12px;
  inset-block-end: -10px;
}
